.navbar{
   display: flex;
   align-items: center;
   justify-content: space-around; 
   background-color: rgb(231, 14, 50);
   height: 70px;
}

 a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
}


.content{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blogShow h1{
    color: rgb(211, 46, 73);
}

.active{
    background-color: aliceblue;
    padding: 10px;
    border: solid black 1px;
    color: red;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}